<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Page Navigation</title>
<link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
<div id="articlestop">
  <%= image_tag "goldenrodcity.jpg", class: "article-imagetop" %>
  </div>
<div id="articles">

  <!-- Your articles go here -->
  <div class="article">
    <div class="navbar">
    <a href="#">Home</a>
    <a href="#">Pokédex</a>
    <a href="tracker">Pokémon Tracker</a>
    <a href="staff">Our Staff</a>
    <a href="about">About</a>
    </div>
 </div>


  <div class="article">
    <h2 class="article-title">Team Rocket Foiled Again! Ash and Pikachu Save Cerulean City Gym!</h2>
     <div class="headline">The Golden Times - Cerulean City • Today, 11:05 </div>
    <p><b>In the heart of Cerulean City, where the shimmering waters of the city's famous gym glistened under the sunlight, an attempted heist by the notorious Team Rocket sent shockwaves through the tranquil streets.</b>
      <br><br><%= image_tag "CeruleanGym.jpg", class: "article-image art-image" %> The nefarious trio, Jessie, James, and their loyal Meowth, had set their sights on stealing the prized Water-type Pokémon held within the gym. However, their plans were swiftly thwarted by the timely intervention of Ash Ketchum, the determined Pokémon trainer from Pallet Town, and his loyal partner Pikachu. With lightning-fast reflexes and unwavering courage, Ash and Pikachu sprang into action, determined to protect the gym and its inhabitants from Team Rocket's villainous schemes.
      <br><br> As Team Rocket attempted to make off with their ill-gotten gains, Ash and Pikachu engaged them in a fierce battle, their determination to defend Cerulean City burning bright in their eyes. With each thunderous attack and electrifying bolt of lightning, they drove Team Rocket back, refusing to yield to their underhanded tactics.
     <%= image_tag "CeruleanOutside.jpg", class: "article-image2 art-image" %> Despite Team Rocket's best efforts, Ash and Pikachu emerged victorious, sending the trio blasting off into the distant horizon with a resounding crash. The citizens of Cerulean City cheered as Ash and Pikachu stood triumphant, their bravery and heroism earning them the admiration and gratitude of all who witnessed their valiant deeds. With Team Rocket's plans foiled once again, Cerulean City Gym remained safe and secure, thanks to the quick thinking and courageous actions of Ash and Pikachu.<br><br> As the sun set over the tranquil waters of Cerulean City, casting a warm glow over the cityscape, Ash and Pikachu basked in the glow of their hard-fought victory, knowing that they had once again saved the day and proven that true friendship and bravery could overcome even the most dastardly of adversaries.</p>

    <div class="article-buttons">
    <button class="like-button">Like ♥️</button>
    <button class="share-button facebook-share">Share <i class="bi bi-heart"></i></button>
    <button class="comment-button">Comment <i class="bi bi-chat-left"></i></button>
    </div>
  </div>


  <div class="article">
    <h2 class="article-title">Fuchsia City's Shiny Spectacle: Trainers Flock to Special Day Celebrating Rare Pokémon!</h2>
    <div class="headline">The Golden Times - Fuchsia City • Today, 11:05 </div>
    <p><b>In the heart of Fuchsia City, with its vibrant colors and surrounding forests, an atmosphere of excitement and anticipation filled the air. Today marked a special occasion, one eagerly awaited by trainers and Pokémon enthusiasts from far and wide – the annual Shiny Pokémon Celebration Day.</b><br><br>
      The origins of this event traced back to a tradition established by the diligent efforts of Fuchsia City's Pokémon experts and caretakers. Recognizing the city's unique allure and charm, the local Pokémon Center and Safari Zone collaborated to create an extraordinary experience for visitors and residents alike.<br><br>
      Months of meticulous preparation culminated in the transformation of the Safari Zone's enclosures into showcases for rare and elusive Shiny Pokémon. With the assistance of skilled Pokémon trainers and researchers, a diverse array of Shiny specimens were carefully curated and placed on display for the public to admire.
      <br><br><%= image_tag "fuchsia.jpg", class: "article-image4 art-image" %><br><br>From the serene, nature-inspired green scales of a Shiny Dragonite to the shimmering green fur of a rare Espeon, each enclosure housed a breathtaking selection of Pokémon, their radiant colors standing out amidst the verdant backdrop of the Safari Zone.<br><br>
      As word of the event spread, trainers from neighboring regions flocked to Fuchsia City, eager to witness the spectacle firsthand and perhaps catch a glimpse of their favorite Shiny Pokémon. Among the trainers drawn to Fuchsia City for the event was Lance, the renowned Dragon-type Pokémon Champion. Known for his deep admiration for Shiny Pokémon, Lance was particularly captivated by the majestic Shiny Dragonite on display. Lance marveled at the rare creature, admiring its beauty and strength.<br><br>
      Throughout the day, guided tours and educational seminars provided visitors with insights into the biology and behavior of Shiny Pokémon, fostering a deeper appreciation for these rare and cherished creatures. Meanwhile, friendly competitions and games offered opportunities for trainers to test their skills and bond with their Pokémon companions.  </p>
    <div class="article-buttons">
      <button class="like-button">Like ♥️</button>
      <button class="share-button facebook-share">Share <i class="bi bi-heart"></i></button>
      <button class="comment-button">Comment <i class="bi bi-chat-left"></i></button>
    </div>
  </div>


  <div class="article">
    <h2 class="article-title">Umbreon Emerges from Ecruteak City Shadows – Dark Elegance Shines!</h2>
    <div class="headline">The Golden Times - Ecruteak City • Today, 11:05</div>
    <p>In the heart of Ecruteak City, where the shadows whispered ancient tales and the moonlight danced through the leaves of towering trees, a rare and mysterious sight unfolded. Luna, a young trainer with a curiosity that often led her to unexpected encounters, found herself wandering the tranquil streets of the historic city. As she passed by the imposing Tin Tower, Luna noticed a flicker of movement amidst the shadows. Intrigued, she approached cautiously, her senses on high alert. There, emerging from the darkness, was a magnificent Umbreon, its sleek black fur gleaming in the moonlight.<br><br>
    <%= image_tag "Ecruteak.jpg", class: "article-image art-image" %> Though not a Shiny Pokémon, the Umbreon possessed an aura of elegance and mystery that captivated Luna's attention. As she gazed into its intelligent eyes, she sensed a connection, a silent understanding that transcended words. With a tentative smile, Luna extended her hand in friendship, offering a gesture of trust and respect to the enigmatic Pokémon. To her surprise, the Umbreon responded in kind, nuzzling against her palm with a gentle affection that warmed her heart.<br><br>
      Together, Luna and her newfound companion embarked on a journey through the winding streets of Ecruteak City. As they walked, Luna felt a sense of peace wash over her, as if the ancient spirits of the city were guiding their steps. As the dawn broke on the horizon, painting the sky with hues of pink and gold, Luna knew that her encounter with the Umbreon was a special moment she would cherish forever. Though their time together was brief, the bond they shared would endure, a testament to the enduring power of friendship and the magic of the Pokémon world.<br><br>
    <%= image_tag "Ecruteak2.jpg", class: "article-image3 art-image" %>With a fond farewell, Luna watched as the Umbreon disappeared into the shadows of Ecruteak City, its graceful silhouette a reminder of the beauty and wonder that awaited her on her journey as a Pokémon trainer. And as she continued on her path, she carried with her the memory of their fleeting encounter, a symbol of the countless adventures that lay ahead.<br><br> The interview with Luna was filled with excitement and wonder as she recounted her captivating encounter with the mysterious Umbreon in the heart of Ecruteak City.
      Luna's eyes sparkled with enthusiasm as she described the bond she felt with the elegant Pokémon, expressing gratitude for the unexpected connection that had enriched her journey as a trainer.</p>
    <div class="article-buttons">
      <button class="like-button">Like ♥️</button>
      <button class="share-button facebook-share">Share <i class="bi bi-heart"></i></button>
      <button class="comment-button">Comment <i class="bi bi-chat-left"></i></button>
    </div>
  </div>


  <div class="article">
    <h2 class="article-title">Shiny Snorlax Slumbers Through Celadon City Park</h2>
    <div class="headline">The Golden Times - Fuchsia City • Today, 11:05 </div>
    <p>In the bustling city of Celadon, where the streets thrummed with energy and the air was thick with the scent of flowers, an unexpected event unfolded one sunny afternoon. Cooltrainer Jay, known for his daring battles and love for challenges, had awoken the legendary Shiny Snorlax on Route 16 with the mystical Pokeflute.
      As the melodious notes of the flute echoed through the tranquil route, the Shiny Snorlax stirred from its deep slumber, its fur shimmering like a cascade of stars under the sunlight. Cooltrainer Jay, eager for a thrilling battle, sent out his trusted Raticate to face the imposing Pokémon.
      <br><br>The battle commenced, with Raticate launching a flurry of attacks against the towering Snorlax. However, much to Jay's surprise, the Snorlax soon lost interest in the battle, its attention wandering elsewhere.
      Ignoring Jay's commands, the Snorlax ambled off towards the bustling streets of Celadon City, its massive form drawing gasps of awe from the onlookers. With a sense of mischief, the Snorlax took a leisurely stroll through the city, its presence causing a stir among the residents.
      <%= image_tag "CeladonSnorlax.jpg", class: "article-image2 art-image" %><br><br>As chaos ensued, Officer Jenny, the vigilant guardian of Celadon City, arrived on the scene to restore order. With a stern but understanding demeanor, she reprimanded Cooltrainer Jay for his reckless actions, reminding him of the importance of responsible Pokémon training.
      Meanwhile, the Snorlax, oblivious to the commotion it had caused, eventually found itself drawn to the serene beauty of the city's central fountain.<br><br> With a contented sigh, it settled down against the cool stone, its rhythmic breathing echoing in harmony with the gentle flow of water.
      As the sun began to set, casting a warm glow over the city, Officer Jenny approached Cooltrainer Jay once more, offering words of guidance and encouragement. Jay, humbled by the experience, nodded in understanding, vowing to be more mindful of the consequences of his actions in the future.</p>
    <div class="article-buttons">
      <button class="like-button">Like ♥️</button>
      <button class="share-button facebook-share">Share <i class="bi bi-heart"></i></button>
      <button class="comment-button">Comment <i class="bi bi-chat-left"></i></button>
    </div>
  </div>


  <div class="article">
    <h2>TEST</h2>
    <p>Article 5</p>
  </div>


</div>


</body>
</html>
