<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Page Navigation</title>
<link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
<div class="container">
      <div id="articlestop">
       <%= image_tag "goldenrodcity.jpg", class: "article-imagetop" %>
     </div>

    <div id="articles">

      <div class="articlequiz5">
        <div class="navbar">
         <a href="index">News</a>
          <a href="pokequiz">PokéQuiz</a>
          <a href="tracker">Pokémon Tracker</a>
          <a href="#">Our Staff</a>
          <a href="about">About</a>
        </div>

    <h2>Our staff</h2>
    <h3>Each member of the Golden Times News Station brings their unique skills, experiences, and love for<br> Pokémon to deliver top-quality news coverage to the viewers.</h3>

<div class="staff-member">
  <div class="staff-details">
    <div class="staff-info">
       <%= image_tag "ourstaff1.jpg", class: "staff-image" %>
      <p class="staff-name">Kevin Stal</p>
      <p class="staff-role">Chief Editor</p>
      <p class="staff-hometown">Hometown: Azalea Town</p>
      <p class="staff-favorite">Favorite Pokemon: Aerodactyl</p>
      <br>

    </div>
    <div class="staff-description">
      <p>Kevin, a seasoned journalist, meticulously sifts through piles of articles, ensuring each word resonates with precision. His discerning eye catches even the subtlest of errors, earning him the respect of his peers.<br><br> With a passion for storytelling, he weaves narratives that captivate readers and shape the editorial direction. Behind the scenes, Kevin's dedication fuels the publication's success, making him an invaluable asset to the team.</p>
    </div>
  </div>
</div>

<div class="staff-member">
  <div class="staff-details">
    <div class="staff-description">
      <p>Maya's typewriter clicks with the rhythm of breaking news as she dashes from one scoop to the next. Her relentless pursuit of truth drives her to uncover stories that shine a light on society's complexities. With a keen eye for detail and a knack for storytelling, Maya crafts articles that resonate with readers and provoke thought.<br><br> As the lead reporter, she embodies journalistic integrity and fearlessly challenges the status quo, earning admiration from both colleagues and readers alike.</p>
    </div>

    <div class="staff-info">
       <%= image_tag "ourstaff1.jpg", class: "staff-image" %>
     <p class="staff-name">Maya Stone</p>
      <p class="staff-role">Lead Reporter</p>
      <p class="staff-hometown">Hometown: Lilycove City</p>
      <p class="staff-favorite">Favorite Pokemon: Gardevoir</p>
      <br>

    </div>

  </div>
</div>

<div class="staff-member">
  <div class="staff-details">
    <div class="staff-info">
      <%= image_tag "ourstaff1.jpg", class: "staff-image" %>
      <p class="staff-name">Xander Frost</p>
      <p class="staff-role">Senior Correspondent</p>
      <p class="staff-hometown">Hometown: Snowpoint City</p>
      <p class="staff-favorite">Favorite Pokemon: Abomasnow</p>
      <br>

    </div>
    <div class="staff-description">
       <p>Xander's pen glides effortlessly across the page, translating the pulse of the city into compelling narratives. As a seasoned correspondent, he navigates the intricate web of politics and intrigue with finesse, uncovering stories that spark conversation.<br><br> With a penchant for investigative journalism, Xander fearlessly pursues the truth, exposing corruption and championing transparency. His unwavering dedication to his craft and commitment to journalistic integrity make him a trusted voice in the media landscape.</p>
    </div>
  </div>
</div>

<div class="staff-member">
  <div class="staff-details">
    <div class="staff-description">
       <p>Avery's investigative prowess pierces through layers of deception, uncovering truths hidden in the shadows. Armed with a relentless curiosity and a keen intellect, he delves deep into the heart of stories, exposing corruption and holding the powerful accountable.<br><br> His tenacity in pursuit of justice earns him both admiration and respect among his peers. With every exposé, Avery reaffirms his commitment to uncovering the truth and giving voice to the voiceless.</p>
    </div>
    <div class="staff-info">
      <%= image_tag "ourstaff1.jpg", class: "staff-image" %>
       <p class="staff-name">Avery Brooks</p>
      <p class="staff-role">Investigative Journalist</p>
      <p class="staff-hometown">Hometown: Goldenrod City</p>
      <p class="staff-favorite">Favorite Pokemon: Houndoom</p>

         </div>

  </div>
</div>

<div class="staff-member">
  <div class="staff-details">
    <div class="staff-info">
      <%= image_tag "ourstaff1.jpg", class: "staff-image" %>
      <p class="staff-name">Fiona Ocean</p>
      <p class="staff-role">Field Reporter</p>
      <p class="staff-hometown">Hometown: Mossdeep City</p>
      <p class="staff-favorite">Favorite Pokemon: Milotic</p>

        </div>
    <div class="staff-description">
       <p>Fiona's camera lens captures the raw emotion of the human experience, transforming ordinary moments into compelling stories. With a passion for storytelling and an eye for detail, she ventures into the heart of communities, shedding light on untold narratives. <br><br>Whether she's documenting local heroes or covering breaking news, Fiona's empathy and dedication shine through in every frame. Her ability to connect with people on a personal level makes her a beloved figure in the communities she serves.</p>
    </div>
  </div>
</div>

<div class="staff-member">
  <div class="staff-details">
      <div class="staff-description">
       <p>Caleb's steady hand and keen eye for composition bring stories to life through the lens of his camera. From bustling city streets to remote landscapes, he captures the essence of every scene with precision and artistry. Behind the camera, Caleb's quiet demeanor belies his passion for visual storytelling, as he tirelessly strives to capture the perfect shot.<br><br> His technical expertise and creative vision make him an indispensable member of the team, elevating every story he touches.</p>
    </div>
    <div class="staff-info">
      <%= image_tag "ourstaff1.jpg", class: "staff-image" %>
     <p class="staff-name">Caleb Everest</p>
      <p class="staff-role">Cameraman</p>
      <p class="staff-hometown">Hometown: Ever Grande City</p>
      <p class="staff-favorite">Favorite Pokemon: Flygon</p>
      <br>
    </div>

  </div>
</div>

<div class="staff-member">
  <div class="staff-details">
    <div class="staff-info">
      <%= image_tag "ourstaff1.jpg", class: "staff-image" %>
      <p class="staff-name">Nora Swift</p>
      <p class="staff-role">Interviewer</p>
      <p class="staff-hometown">Ecruteak City</p>
      <p class="staff-favorite">Favorite Pokemon: Lickitung</p>
      <br>
    </div>
    <div class="staff-description">
       <p>Nora's warm smile and genuine curiosity put her interview subjects at ease, allowing them to open up and share their stories with honesty and vulnerability. With a knack for asking the right questions, she uncovers the heart of every narrative, giving voice to the voiceless and amplifying diverse perspectives.<br><br> As an interviewer, Nora's empathy and intuition guide her interactions, fostering meaningful connections and fostering understanding. Her dedication to telling stories with integrity and compassion makes her a trusted voice in journalism.</p>
    </div>
  </div>
</div>

<div class="staff-member">
  <div class="staff-details">
     <div class="staff-description">
     <p>Isaac's commanding presence and smooth delivery make him a trusted source of information for viewers across the region. As the news anchor, he navigates the fast-paced world of broadcast journalism with grace and professionalism, delivering breaking news with clarity and authority. Behind the desk, Isaac's journalistic integrity and dedication to accuracy shine through in every broadcast, earning him the respect and admiration of his audience.<br><br> With his finger on the pulse of current events, Isaac keeps viewers informed and engaged, guiding them through the day's top stories with confidence.</p>
    </div>
    <div class="staff-info">
      <%= image_tag "ourstaff1.jpg", class: "staff-image" %>
      <p class="staff-name">Isaac Reed</p>
      <p class="staff-role">News Anchor</p>
      <p class="staff-hometown">Hometown: Castelia City</p>
      <p class="staff-favorite">Favorite Pokemon: Serperior</p>

    </div>

  </div>
</div>

<div class="staff-member">
  <div class="staff-details">
    <div class="staff-info">
      <%= image_tag "ourstaff1.jpg", class: "staff-image" %>
      <p class="staff-name">Luna Skylark</p>
      <p class="staff-role">Weather Reporter</p>
      <p class="staff-hometown">Hometown: Fortree City</p>
      <p class="staff-favorite">Favorite Pokemon: Altaria</p>


    </div>
    <div class="staff-description">
       <p>Luna's infectious enthusiasm and meteorological expertise make her a ray of sunshine on even the cloudiest of days. As the weather reporter, she brings the forecast to life with her bubbly personality and captivating on-air presence. With a keen eye for atmospheric patterns and a passion for science, Luna delivers accurate and engaging weather updates that keep viewers informed and entertained.<br><br> It doesn't matter if she's tracking storms or forecasting sunshine, Luna's warmth and professionalism make her a beloved fixture in the newsroom.</p>
    </div>
  </div>
</div>

<div class="staff-member">
  <div class="staff-details">
    <div class="staff-description">
      <p>Dexter's discerning eye and meticulous attention to detail ensure that every article that crosses his desk meets the highest standards of quality. As the editor, he shapes the publication's editorial direction with precision, guiding the team to produce content that informs, engages, and inspires readers. With a keen understanding of storytelling techniques and journalistic ethics, Dexter transforms raw material into polished narratives that captivate audiences. <br><br>Behind the scenes, his leadership and expertise drive the newsroom forward, fostering a culture of excellence and collaboration among his colleagues.</p>
    </div>
    <div class="staff-info">
      <%= image_tag "ourstaff1.jpg", class: "staff-image" %>
      <p class="staff-name">Dexter Blaze</p>
      <p class="staff-role">Editor</p>
      <p class="staff-hometown">Hometown: Lavaridge Town</p>
      <p class="staff-favorite">Favorite Pokemon: Groudon</p>
    </div>

  </div>
</div>
<button class="donate-button">Donate</button>
</div>
</div>

</div>
</div>
